<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Update an employee</h3>
    <form (ngSubmit)= "onSubmit()" #employeeForm = "ngForm">
      <div class="form-group">
        <label>Name</label>
        <input type = "text"
        class="form-control"
        id = "name"
        [(ngModel)] = "employee.name"
        name = "name"
        required
        minlength="4"
        maxlength="10"
        placeholder="Type a name"
        #name = "ngModel"
        >
        <div class="alert alert-danger" *ngIf= "name.invalid && (name.dirty || name.touched)">
          <div *ngIf = "name.errors?.['required']">
            Type a name
          </div>
          <div *ngIf = "name.errors?.['minlength']">
            Name must contain at least 4 characters
          </div>
          <div *ngIf = "name.errors?.['maxlength']">
            Name must containg a maximum of 10 characters
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label>Surname</label>
        <input type = "text"
        class="form-control"
        id = "surname"
        [(ngModel)] = "employee.surname"
        name = "surname"
        required
        minlength="4"
        maxlength="10"
        placeholder="Type a surname "
        #surname = "ngModel"
        >
        <div class="alert alert-danger" *ngIf= "surname.invalid && (surname.dirty || surname.touched)">
          <div *ngIf = "surname.errors?.['required']">
            Type a surname
          </div>
          <div *ngIf = "surname.errors?.['minlength']">
            Surname must contain at least 4 characters
          </div>
          <div *ngIf = "surname.errors?.['maxlength']">
            Surname must containg a maximum of 10 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Email : </label>
        <input type = "email"
        class="form-control"
        id = "email"
        [(ngModel)] = "employee.email"
        name = "email"
        pattern ="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
        required
        placeholder="Digite su email "
        #email = "ngModel"
        >
        <div class="alert alert-danger" *ngIf= "email.invalid && (email.dirty || email.touched)">
          <div *ngIf = "email.errors?.['required']">
            Type an email
          </div>
          <div *ngIf = "email.errors?.['pattern']">
            Type an email with the following format "something@something.com"
          </div>
        </div>
      </div>
  
      <button class="btn btn-success" [disabled]= "!employeeForm.form.valid">Save</button>
    </form>
  </div>