<h2>Employee list</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.name}}</td>
            <td>{{employee.surname}}</td>
            <td>{{employee.email}}</td>
            <td>
                <button (click)="updateEmployee(employee.id)" class="btn btn-info">Edit</button>
            </td>
        </tr>
    </tbody>
</table>
